---
import BaseLayout from '../../layouts/BaseLayout.astro';
import EditList from '../../components/EditList';
import { getAllPierres } from '../../lib/pierres';

export const prerender = false;

const pierres = getAllPierres();
---

<BaseLayout>
  <h1 class="mb-8 text-2xl font-bold">Gérer les pierres</h1>
  <EditList client:load pierres={pierres} />
</BaseLayout>
