@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-background: #030712;
  --color-surface: #111827;
  --color-surface-hover: #1f2937;
  --color-border: #374151;
  --color-text-primary: #f3f4f6;
  --color-text-secondary: #9ca3af;
  --color-accent: #f43f5e;
}
