---
import BaseLayout from '../layouts/BaseLayout.astro';
import PierreGridWithSearch from '../components/PierreGridWithSearch';
import { getAllPierres } from '../lib/pierres';

const pierres = getAllPierres();
---

<BaseLayout>
  <h1 class="mb-8 text-2xl font-bold">Pierres précieuses</h1>
  <PierreGridWithSearch client:load pierres={pierres} />
</BaseLayout>